<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:macro name="omni_wheel" params="suffix parent xyz rpy">
    <link name="omni_wheel_link_${suffix}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://khemin_omni/mesh/omni.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey">
          <color rgba="0.5 0.5 0.5 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.075" length="0.05"/> 
        </geometry>
      </collision>
      <inertial>
        <mass value="0.5" />
        <inertia ixx="0.005" ixy="0" ixz="0" iyy="0.005" iyz="0" izz="0.005" />
      </inertial>
    </link>

    <!-- <joint name="omni_wheel_joint_${suffix}" type="fixed"> -->
    <joint name="omni_wheel_joint_${suffix}" type="continuous">
      <parent link="${parent}" />
      <child link="omni_wheel_link_${suffix}" />
      <origin xyz="${xyz}" rpy="${rpy}" />
      <axis xyz="0 0 -1"/>
    </joint>

    <gazebo reference="omni_wheel_link_${suffix}">
      <selfCollide>false</selfCollide>
      <mu1>1.0</mu1>
      <mu2>0.001</mu2>
      <fdir1>1 0 0</fdir1>
    </gazebo>

  </xacro:macro>
</robot>